In [1]:
import numpy as np
import pandas as pd
df_tips = pd.read_csv("tips.csv")
df_tips.head()
df_tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   sex               244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   size              244 non-null    int64
 7   price_per_person  244 non-null    float64
 8   Payer Name        244 non-null    object
 9   CC Number         244 non-null    int64
 10  Payment ID        244 non-null    object
dtypes: float64(3), int64(2), object(6)
memory usage: 21.1+ KB

In [2]:
#1) df_tips içindeki Payment ID column'unun son 3 rakamını çekin. Bu işlemi 3 farklı yolla da yapmaya çalışın.
#1.yol
def son3(x):
    return x[-3:]
print("1.yol")
print(df_tips["Payment ID"].apply(son3))
print("2.yol")
print(df_tips["Payment ID"].apply(lambda x : x[-3:]))
print("3.yol")
print(df_tips["Payment ID"].str[-3:])

1.yol
0      959
1      608
2      458
3      260
4      251
      ...
239    657
240    766
241    880
242    t17
243    672
Name: Payment ID, Length: 244, dtype: object
2.yol
0      959
1      608
2      458
3      260
4      251
      ...
239    657
240    766
241    880
242    t17
243    672
Name: Payment ID, Length: 244, dtype: object
3.yol
0      959
1      608
2      458
3      260
4      251
      ...
239    657
240    766
241    880
242    t17
243    672
Name: Payment ID, Length: 244, dtype: object

In [7]:
#2) df_tips içindeki Payer Name sütununda isim ve soy isim bilgileri bulunuyor. 
#O sütundan sadece isim bilgileri çekin ve 'JustName' adında yeni bir column oluşturun. (Bu biraz zorlayıcı olabilir, Önce kendiniz yapmaya çalışın fakat yapamazsanız ChatGPT'ye soruyu düzgünce sorarak cevabını kod olarak alabilirsiniz, ardından döndürülen kodu anlamaya çalışmanız yeterlidir.)
df_tips["JustName"] = df_tips["Payer Name"].apply(lambda x : x.split()[0])
df_tips.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,JustName
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,Christy
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,Douglas
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,Travis
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,Nathaniel
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,Tonya

In [8]:
#3) 2.Soruda yeni oluşturduğunuz 'JustName' sütunundaki verilerin her birinden kaç tane olduğuna uygun methodu kullanarak bakın.
df_tips["JustName"].value_counts()

Jason          9
Michael        7
James          6
David          6
Christopher    5
              ..
Shawna         1
Louis          1
Chris          1
Mark           1
Michelle       1
Name: JustName, Length: 153, dtype: int64

In [9]:
#4) 3.Soruda gördüğünüz gibi JustName sütununda 'Jason' isminden 9 tane, 'Michael' isminden 7 tane , 'James' isminden 6 tane bulunuyor. Peki bunların hepsi gerçekten farklı kişiler mi ?
#Hemen 'Payer Name' sütunundaki verilerin adetlerini de saydırtarak bir kıyaslama yapın. 
#'JustName' sütununu kullanmanın faydasız ve yanıltıcı olabileceğini görün ardından oluşturduğumuz 'JustName' sütununu kalıcı olarak drop edin. (Oluşturmanız için bir pratikti bu sütun sadece :D)

In [ ]:
#5) Erkeklerin ve kadınların davranış patternlerini ayrı ayrı inceleyip yorumda bulunabilmek için 'df_male' ve 'df_female' adında 2 dataframe oluşturun.
#Birinde sadece 157 erkek verisi, diğerinde sadece 87 kadın verisi bulunsun.